:root {
  /* Colour Palette */
  --brand-default: #0081a2;
  --brand-dark: #005072;
  --brand-light: #c8eefa;
  --lightmode-1: white;
  --lightmode-2: #d9d9d9;
  --lightmode-3: #b9b9b9;
  --lightmode-4: #767676;
  --lightmode-5: #505050;
  /* Sizing */
  --header-height-expanded: 250px;
  --header-height: 125px;
  --footer-height: 125px;
  --sidebar-width: 300px;
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
  --content-width: calc(100vw - var(--sidebar-width));
}

/* Accounts for border and padding when denoting size */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#header {
  height: var(--header-height);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: linear-gradient(90deg, var(--brand-default), rgba(0,0,0,0));
  > h1 {
    color: white;
  }
}

#footer {
  height: var(--footer-height);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--lightmode-2);
  > img {
    border: 1px solid var(--lightmode-3);
    border-radius: 50%;
  }
}

#content {
  height: var(--content-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-container {
  width: 700px;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 7px;
  background-color: var(--lightmode-2);
  > Form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    width: 50%;
    > button {
      width: fit-content;
      align-self: flex-end;
    }
  }
  > h1 {
    max-width: 50%;
    text-align: center;
  }
}