:root {
  /* Colour Palette */
  --brand-default: #0081a2;
  --brand-dark: #005072;
  --brand-light: #c8eefa;
  --lightmode-1: white;
  --lightmode-2: #d9d9d9;
  --lightmode-3: #b9b9b9;
  --lightmode-4: #767676;
  --lightmode-5: #505050;
  /* Sizing */
  --header-height-expanded: 250px;
  --header-height: 125px;
  --footer-height: 125px;
  --sidebar-width: 300px;
  --content-width: calc(100vw - var(--sidebar-width));
}

/* Accounts for border and padding when denoting size */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#header {
  width: 100vw;
  height: var(--header-height);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: linear-gradient(90deg, var(--brand-default), rgba(0,0,0,0));
  > h1 {
    color: white;
  }
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: var(--footer-height);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--lightmode-2);
}