:root {
  /* Colour Palette */
  --brand-default: #0081a2;
  --brand-dark: #005072;
  --brand-light: #c8eefa;
  --lightmode-1: white;
  --lightmode-2: #d9d9d9;
  --lightmode-3: #b9b9b9;
  --lightmode-4: #767676;
  --lightmode-5: #505050;
  /* Sizing */
  /* --header-height-expanded: 250px; */
  --header-height: 125px;
  --footer-height: 125px;
  --sidebar-width: 250px;
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
  --content-width: calc(100vw - var(--sidebar-width));
  --quick-tile-height: 150px;
}

/* Accounts for border and padding when denoting size */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#header {
  height: var(--header-height);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: linear-gradient(
    90deg, 
    var(--brand-default), 
    rgba(0,0,0,0)
  );
  > h1 {
    color: white;
  }
}

#footer {
  height: var(--footer-height);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--lightmode-2);
  > img {
    border: 1px solid var(--lightmode-3);
    border-radius: 50%;
  }
}

#content {
  height: var(--content-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-container {
  width: 700px;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 7px;
  background-color: var(--lightmode-2);
  > Form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    width: 50%;
    > button {
      width: fit-content;
      align-self: flex-end;
    }
  }
  > h1 {
    max-width: 50%;
    text-align: center;
  }
}

#homepage {
  display: flex;
  height: 100%;
  width: 100%;
}

.page-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 1rem;
  padding: 2rem;
  width: var(--content-width);
}

#notif-banner {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--lightmode-2);
  border-radius: 7px;
  > #notif-banner-title {
    margin: auto;
  }
  > #notif-banner-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    > h3 {
      margin: 0;
    }
  }
}

#quick-access-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 7px;
  flex-grow: 1;
  > button#edit-layout {
    margin-left: auto;
  }
  > #quick-access-tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    flex-grow: 1;
    > .quick-tile {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      justify-content: center;
      border-radius: 7px;
      border: 1px solid var(--lightmode-2);
      > svg {
        margin: auto;
      }
    }
    > .quick-tile:hover {
      cursor: pointer;
      background-color: var(--lightmode-2);
    }
  }
}

#my-health-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--lightmode-2);
  border-radius: 7px;
  flex-grow: 1;
  padding: 1rem;
  gap: 1rem;
}

.info-card {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  background-color: var(--lightmode-1);
  border-radius: 7px;
  padding: 1rem;
  > .card-title {
    margin: 0;
    text-decoration: underline;
  }
}

table, th, td {
  border: 1px solid var(--lightmode-3);
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
}

th {
  text-align: start;
  /* color: var(--lightmode-5); */
}

.react-tabs {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  > .react-tabs__tab-panel {
    flex-grow: 1;
  }
}

.record-table {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  background-color: var(--lightmode-2);
  border-radius: 7px;
  > .interact-bar {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--lightmode-1);
    border-radius: 7px;
    > .MuiTextField-root {
      flex-grow: 1;
    }
  }
  > Button {
    margin: auto;
  }
}